<div class="container">
	<div class="theTarget">
		<div class="main-visual">
			<div class="content1">あなたの<span class="word">お宝</span>みつかるかも！</div>
			<%= image_tag("carand_top.jpg", :size =>"900x600") %>
		</div>
		<div class="camera">
			<% if user_signed_in? %>
				<%= link_to "", new_product_path, class: "btn btn-default btn-circle btn-lg glyphicon glyphicon-camera" %>
			<% else %>
				<%= link_to "", new_user_session_path, class: "btn btn-default btn-circle btn-lg glyphicon glyphicon-camera" %>
			<% end %>
		</div>
	</div>
</div>
